.block-base{
    border: 1px solid #8a8a8a;
}
.content{
    padding: 50px;
}

.boardBlock{
    width: 100%;
    border: 1px solid #8a8a8a;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

}
.board{
    width: 100%;
    max-height: 700px;
    min-height: 300px;
    border: 1px solid black;
}
.icon{
    width: 30px;
    height: 40px;
}
.cart_header{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.cart__list{
    display: flex;
    flex-direction: column;
}